@import "tailwindcss"; /* This is the NEW way for v4 */

/* Keep your custom font/reset below it */
* { 
  font-family: 'Space Grotesk', sans-serif !important; 
}

body {
  margin: 0;
  background-color: #f3f4f6;
}